<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

  
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>"><%= value %></div>
    <% end %>
  </div>
   <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>